body {
    font-family: Helvetica;
}
nav {
    color: white;
}

nav .navbarLogo {
    display: flex;
    align-items: center;
}
.navbarLogo img {
    max-width: 3rem;
    margin-bottom: 10px;
}
.navbarLogo p {
    margin-left: 0.5rem;
}
.navbar-collapse {
    margin-bottom: 10px;
}

.conatainr-custom {
    height: 100vh;
    overflow: hidden;
    background: -webkit-linear-gradient(
        rgba(29, 38, 113, 0.8),
        rgba(168, 214, 230, 0.8)
    );
}
.jumbotron {
    opacity: 0.7;
    min-height: 100vh;
    background-image: url('./../resource/img/j1.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.jumbotron .social {
    margin-top: 20rem;
}

#section-menu img {
    width: 4rem;
}
#section-menu {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.menu img {
    width: 120px;
    margin-top: 10px;
}
.menu ul li {
    margin-top: 10px;
    padding: 20px;
    list-style: none;
    text-align: start;
}

.menu ul {
    padding-left: 0;
    margin-top: 0px;
}
